@import '~mand-mobile/components/_style/mixin/util'
@import '~mand-mobile/components/_style/mixin/theme.components'
@import '~mand-mobile/components/_style/mixin/theme.basic'
@import '~nib/lib/nib/vendor'
@import '~nib/lib/nib/gradients'

// color-primary = #02C29C // 青色
// color-primary = #6807FF // 紫色 antv紫
color-primary = #7546c9 //浅紫色
// color-primary = #2fc25b // 绿色
// color-primary = #ff96a0 // 猛男粉
// color-primary1 = #1497f5 //蓝色
// color-primary = #ff9814 //橙色
